.nav-link-custom {
    color: white !important;
    text-decoration: none;
    position: relative;
    padding-bottom: 4px;
    transition: all 0.3s ease;
    
  }
  
  .nav-link-custom:hover {
    color: #ccc !important;
  }
  
  .nav-link-custom.active {
    color: #fff !important;
  }
  
  .nav-link-custom.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: white !important;
  }
body {
  background: linear-gradient(135deg, #fffbe6, #fff9db);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 0;
}


  